INV_DATABASE_URL=sqlite:///./data/invoices.db
INV_DEFAULT_CURRENCY=CAD
INV_DEFAULT_PAYMENT_TERMS=30
INV_MOCK_EMAIL=false

INV_SMTP_HOST=smtp.ethereal.email
INV_SMTP_PORT=587
INV_SMTP_USER=adan.block36@ethereal.email
INV_SMTP_PASSWORD=VfjFUWShGJu1TxFF8n
INV_SMTP_FROM=adan.block36@ethereal.email
